<ion-header> </ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-row>
            <ion-col offset="1.5">
              <div class="square">
                <div class="pic">
                  <img src="\assets\martini.png" />
                </div>
              </div>
            </ion-col>
          </ion-row>
          <h1 style="text-align: center;">Club Handle</h1>
          <h6 style="text-align: center;">By NovisTec</h6>
          <br />
          <h3 style="text-align: center;">
            Set a new password
          </h3>
          <p style="text-align: center;">set a new password for your account</p>

          <br />
        </ion-list>
        <form (submit)="submit(f)" #f="ngForm">
          <ion-item>
            <ion-label position="floating"
              ><ion-icon name="key"></ion-icon> Enter New Password</ion-label
            ><br />
            <ion-input
              type="text"
              name="newpassword"
              ngModel
              required
              minlength="6"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating"
              ><ion-icon name="key"></ion-icon> Re-Enter New Password</ion-label
            ><br />
            <ion-input
              type="text"
              name="repassword"
              ngModel
              required
              minlength="6"
            ></ion-input>
          </ion-item>
          <ion-row>
            <ion-col offset=".7">
              <ion-button color="black" type="submit()"
                >Back to Login</ion-button
              >
              <ion-button type="submit()" [disabled]="f.invalid"
                >Submit OTP</ion-button
              >
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
