
.pic {
    transform: rotate(45deg);
    overflow: hidden;
    width: 100px;
    height:100px;
   margin:45px;
  }
  .square {
    transform: rotate(-45deg);
    width: 200px;
    height:200px;
    margin: 30px;
    border: solid rgb(255, 166, 0);
    background-color: rgb(255, 166, 0);
    overflow: hidden;}
  