<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"> </ion-back-button>
    </ion-buttons>
    <ion-title>Choose City</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-row>
            <ion-col size="6" offset="3">
              <ion-img src="\assets\novistec.png"> </ion-img>
            </ion-col>
          </ion-row>
          <h1 style="text-align: center;">Club Handle</h1>
          <h6 style="text-align: center;">By NovisTec</h6>
          <br /><br />
          <h3 style="text-align: center;">
            Choose the CITY the<br />
            club is located in
          </h3>
          <br />
        </ion-list>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
