<ion-app>
  <ion-header>
    <ion-toolbar color="light">
      <ion-title>
        Novistec
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-grid style="padding: 20px;">
      <ion-row>
        <ion-col>
          <img src="\assets\martini.png" />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  offset="4.5">
         <ion-button color="primary" (click)="hello()">
          Hello 
         </ion-button>
       </ion-col>
     </ion-row>
   </ion-grid>
  </ion-content>
</ion-app>
